* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-image: url("https://cdn.spacetelescope.org/archives/images/screen/heic1107a.jpg");
    background-size: cover;
    font-family: "Share Tech Mono", Arial, monospace;
    font-size: 14px;
}

body {
    background: rgba(0, 0, 0, 0.7);
}

/* se a tela tiver pelo - 450px vai carregar estes estilos */
@media (min-width: 450px) {
    html {
        font-size: 16px;
    }
    .portfolio {
        display: flex;
        padding: 2em;
    }

    .container-item-portfolio {
        height: 15.3em;
        padding: 1em;
        padding-bottom: 0;
        width: 20.7em;
        /* border: RGB(216, 191, 216, .1) solid .4em; */
    }
}

header {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    position: relative;
}

.menu {
    background: black;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100vw;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu a {
    color: antiquewhite;
    display: block;
    font-size: 1.4em;
    padding: 1em;
    text-decoration: none;
}

.menu a:hover {
    text-shadow: -2px 0px 14px rgba(150, 74, 207, 1);
    transform: scale(1.5);
}

.menu li {
    list-style: none;
}

.site-title,
.site-subtitle {
    color: antiquewhite;
    text-align: center;
}

.site-title {
    font-size: 3em;
    margin: 1em 0 0.3em 0;
}

.simbolo-indicador {
    bottom: 0;
    color: antiquewhite;
    font-size: 3em;
    padding: 1em;
    position: absolute;
    text-decoration: none;
    transform: rotate(90deg);
}

.simbolo:hover {
    transform: rotate(90deg) scale(1.5);
}

.section {
    color: antiquewhite;
}

.section h2 {
    margin-bottom: 1.5em;
    text-align: center;
}

.portfolio {
    text-align: center;
}

.container-item-portfolio {
    height: 15.3em;
    padding: 1em;
    padding-bottom: 0;
    /* border: RGB(216, 191, 216, .1) solid .4em; */
}

.container-item-portfolio:hover {
    transform: scale(1.1);
}

.img-portfolio {
    border-radius: 0.4em;
    box-shadow: 0px 0px 90px -20px #483d8b;
    height: 12em;
    width: 18em;
}
