* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-image: url("https://cdn.spacetelescope.org/archives/images/screen/heic1107a.jpg");
    background-size: cover;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
}

body {
    background: rgba(0, 0, 0, 0.7);
    position: relative;
}

header {
    align-items: center;
    display: flex;
    font-family: "Share Tech Mono", Arial, monospace;
    height: 100vh;
    justify-content: center;
    position: relative;
}

.menu {
    background: black;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100vw;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu a {
    color: antiquewhite;
    display: block;
    font-size: 1em;
    padding: 1em;
    text-decoration: none;
}

.menu a:hover {
    text-shadow: -2px 0px 14px rgba(150, 74, 207, 1);
    transform: scale(1.5);
}

.menu li {
    list-style: none;
}

.site-title,
.site-subtitle {
    color: antiquewhite;
    text-align: center;
}

.site-title {
    font-size: 3em;
    margin: 1em 0 0.3em 0;
}

.simbolo-indicador {
    bottom: 2em;
    color: antiquewhite;
    font-size: 3em;
    position: absolute;
    text-decoration: none;
    transform: rotate(90deg);
}

.simbolo-indicador:hover {
    transform: rotate(90deg) scale(1.5);
}

.section {
    align-items: center;
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    font-family: "Share Tech Mono", Arial, monospace;
    justify-content: center;
    position: relative;
    min-height: 100vh;
    width: 100%;
}

.section .titulo-projetos {
    margin: 0 0 0.5em 0;
    padding: 2em 1.5em 0.5em 1.5em;
    text-align: center;
    font-size: 2em;
}

.portfolio {
    display: grid;
    justify-content: center;
    text-align: center;
}

.img-portfolio {
    border-radius: 0.4em;
    box-shadow: 0px 0px 90px -20px #483d8b;
    filter: brightness(0.8);
    height: 12em;
    object-fit: cover;
    object-position: left;
    width: 18em;
}

.img-portfolio:hover {
    filter: brightness(1);
    transform: scale(1.1);
}

.section .titulo-atividades {
    font-size: 2em;
    margin: 1em 0 0 0;
    padding: 1.5em 1.5em 0.5em 1.5em;
    text-align: center;
}

.atividades {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(1, 14em);
    justify-content: center;
    text-align: center;
}

.img-atividades {
    border-radius: 0.4em;
    box-shadow: 0px 0px 90px -20px #483d8b;
    filter: brightness(0.8);
    height: 6em;
    object-fit: cover;
    object-position: left;
    width: 12em;
}

.img-atividades:hover {
    filter: brightness(1);
    transform: scale(1.1);
}

.legenda {
    font-size: 1.1em;
}

.simbolo-indicador-projetos {
    bottom: 2em;
    color: antiquewhite;
    display: inline-block;
    font-size: 3em;
    text-decoration: none;
    transform: rotate(90deg);
}

.simbolo-indicador-projetos:hover {
    transform: rotate(90deg) scale(1.5);
}

.footer {
    margin: 0;
    position: fixed;
    left: 0;
    height: 100vh;
    width: 5em;
}

.footer a {
    color: antiquewhite;
    display: block;
    font-family: "Share Tech Mono", Arial, monospace;
    font-size: 1em;
    padding: 1em;
    text-decoration: none;
}

.footer li {
    list-style: none;
}

/* .github {
    background-image: url(../img/github.png);
    background-repeat: no-repeat, repeat;
}

.instagram {
    background-image: url(../img/ig.png);
    background-repeat: no-repeat, repeat;
}

.linkedin {
    background-image: url(../img/linkedin.png);
    background-repeat: no-repeat, repeat;
} */

/* se a tela tiver pelo - 400px vai carregar estes estilos */

@media (max-width: 350px) {
    html {
        font-size: 12px;
    }

    .section {
        min-height: 100vh;
    }

    .section .titulo-projetos {
        padding: 2em 1.5em 0.3em 1.5em;
        margin: 0.8em 0 0.5em 0;
    }

    .portfolio {
        display: grid;
        gap: 1em;
    }

    .section .titulo-atividades {
        padding: 0em 1.5em 0.8em 1.5em;
        margin: 2em 0 0.5em 0;
    }

    /* .simbolo-indicador-projetos {
        margin-top: 2em;
    } */

    .img-atividades {
        height: 6em;
        width: 14em;
    }
}

@media (min-width: 400px) {
    html {
        font-size: 14px;
    }
    .menu a {
        font-size: 1.2em;
    }

    .section {
        min-height: 100vh;
    }

    .portfolio {
        display: grid;
        gap: 1em;
    }

    .atividades {
        gap: 0.5em;
    }

    .img-atividades {
        height: 8em;
        width: 12em;
    }
}

@media (min-width: 600px) {
    html {
        font-size: 16px;
    }

    .menu a {
        font-size: 1.5em;
    }

    .section .titulo-projetos {
        padding: 2em 1.5em 2em 1.5em;
        margin: 2.5em 0 0.5em 0;
    }

    .img-portfolio {
        height: 16em;
        width: 18em;
    }

    .simbolo-indicador-projetos {
        margin-top: 1em;
    }

    .portfolio {
        display: grid;
        grid-template-columns: repeat(2, 18em);
    }

    .section .titulo-atividades {
        padding: 2em 1.5em 2em 1.5em;
        margin: 1.5em 0 0.5em 0;
    }

    .atividades {
        display: grid;
        gap: 2em;
        grid-template-columns: repeat(2, 16em);
    }

    .img-atividades {
        height: 14em;
        width: 16em;
    }
}

/* @media (min-width: 800px) {
    html {
        font-size: 18px;
    }

    .menu a {
        font-size: 1.2em;
    }

    .section {
    
    min-height: 100vh;
}

    .section .titulo-projetos {
        padding: 2em 1.5em 1em 1.5em;
        margin: 1.5em 0 0.5em 0;
    }

    .section .titulo-atividades {
        padding: 2em 1.5em 1em 1.5em;
        margin: 1em 0 0.5em 0;
    }
} */

/* breakpoint */
@media (min-width: 1000px) {
    html {
        font-size: 16px;
    }

    .menu a {
        font-size: 1.2em;
    }

    .section {
        min-height: 100vh;
    }

    .section .titulo-projetos {
        padding: 2em 1.5em 1em 1.5em;
        margin: 0.5em 0 0.5em 0;
    }

    .portfolio {
        gap: 3em;
    }

    .section .titulo-atividades {
        padding: 2em 1.5em 0em 1.5em;
        margin: 0.5em 0 0.5em 0;
    }

    .atividades {
        gap: 1em;
    }

    .img-atividades {
        height: 13em;
        width: 15em;
    }

    .contato {

    }

    .contato h2 {

    }
}

@media (min-height: 1000px) and (min-width: 1000px) {
    html {
        font-size: 20px;
    }

    .menu a {
        font-size: 2em;
    }

    .section {
        min-height: 100vh;
    }

    .section .titulo-projetos {
        padding: 2em 1.5em 1.5em 1.5em;
        margin: 2.5em 0 0.5em 0;
    }

    .section .titulo-atividades {
        padding: 2em 1.5em 1em 1.5em;
        margin: 2.5em 0 0.5em 0;
    }

    .section {
        color: antiquewhite;
        display: flex;
        font-family: "Share Tech Mono", Arial, monospace;
        min-height: 100vh;
        width: 100%;
    }
}
